
.login-main {
  height: 100vh;
  width: 100vw; 
  background-color: #bdc3c9;  
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box; 
}


.login {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  width: 100%; 
  max-width: 400px; 
  box-sizing: border-box; 
}


.login h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


.loginform input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}


.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px;
  background-color: #1a1aec;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-button:hover {
  background-color: #1515d1;
}


.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.sign-up-link {
  color: blue;
  font-weight: 500;
  text-decoration: underline;
}

.sign-up-link:hover {
  color: darkblue;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login {
    max-width: 90%; 
    padding: 15px; 
  }

  .login h1 {
    font-size: 30px; 
  }

  .submit-button {
    font-size: 14px; 
  }
}
